{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="section-card">
        <h2>📝 My Blog Posts</h2>
        <ul>
            {% for post in page_obj %}
                <li class="li-blog" style="margin-bottom: 30px; border-bottom: 1px solid #444; padding-bottom: 15px;">
                    <strong>
                        <a href="{% url 'post_detail' post.id %}" style="color: #7b1fa2; text-decoration: none;">
                            {{ post.title }}
                        </a>
                    </strong>
                    <br><br>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto; border-radius: 8px; margin-top: 10px;">
                    <br><br>
                    {% endif %}
                    <p>{{ post.content|striptags|truncatewords:20 }}</p>
                </li>
            <a href="{% url 'post_detail' post.id %}" class="btn-blog" style="padding: 8px 15px;">Read More</a>
            <br><br>

            {% empty %}
                <li>No posts yet.</li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Pagination Controls -->
    {% include 'components/pagination.html' with btn_class="btn-blog" %}

{% endblock %}
