{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="section-card">
        <h2>{{ ai_creation.title }}</h2>
        <small>Technology: {{ ai_creation.creation_type }}</small>

        <br><br>
        {% if ai_creation.image %}
            <img src="{{ ai_creation.image.url }}" alt="{{ ai_creation.title }}" style="max-width: 100%; border-radius: 8px; margin-bottom: 20px;">
        {% endif %}

        <p>{{ ai_creation.description|linebreaks }}</p>
        <br>
        <a href="{% url 'ai_lab' %}" style="color: #4CAF50;">&larr; Back to AI_LAB</a>
    </div>
</div>
{% endblock %}
