{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dynamic SEO Meta Tags -->
    <title>{% block title %}My Portfolio & AI Lab{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Software Engineer, Backend Developer, and AI Enthusiast building robust digital solutions.{% endblock %}">

    <!-- Open Graph for Social Media Sharing -->
    <meta property="og:title" content="{% block og_title %}{{ self.title }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ self.meta_description }}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">-->
</head>
<body>

    {% include 'components/navbar.html' %}

    {% block header_section %}
        {% include 'components/header.html' with title="My Personal Workspace" subtitle="Welcome to my website" %}
    {% endblock %}

    {% include 'components/messages.html' %}

    <main style="min-height: 70vh;">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

</body>
</html>
